<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
   <!-- Servlet2 -->
   <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.cct.Servlet2</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WebAuthenServer</servlet-name>
        <servlet-class>com.cct.WebAuthenServer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WebAuthenServer</servlet-name>
        <url-pattern>/WebAuthenServer</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WebApplication</servlet-name>
        <servlet-class>com.cct.WebApplication</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WebApplication</servlet-name>
        <url-pattern>/WebApplication</url-pattern>
    </servlet-mapping>
    

       
</web-app>